{% extends 'base.html.twig' %}

 

{% block body %}

<table class="container">
        {% for message in app.flashes('notice')%}
        <div class="alert alert-success mt-">
            {{ message }}
        </div>

    {% endfor %}
     {% if (app.user == false) %}
            <h3 class="editAlertheader"> Login or Register to Add, Edit or Delete posts
    {% endif %}


  <thead>
    <tr>
  
      <th scope="col" id ="colname">Author</th>
      <th scope="col"  id ="colname">Comment</th>
      {% if app.user %}
      <th scope="col"  id ="colname">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for data in list %}
    <tr >
        
        <td id="horzinotLine">{{ data.title }}</td>
        <td  id="horzinotLine">{{ data.content }}</td>
        {% if app.user %}
        <td  id="horzinotLine">
        <a class= "btn btn-warning" href="{{path('update',{'id': data.id})}}">Update</a>
        <a class= "btn btn-danger" href="{{path('delete',{'id': data.id})}}">Delete</a>
        </td>
      
    </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>

{% endblock %}
